<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ufcg.fitnessmanagement"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="br.edu.ufcg.fitnessmanagement.MAinActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.VisualizarAlunosActivity"
            android:label="@string/title_activity_visualizar_alunos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.PerfilDoAlunoActivity"
            android:label="@string/title_activity_ficha_do_aluno"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.CadastrarDadosActivity"
            android:label="@string/title_activity_cadastrar_dados"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.CadastrarAtividadeActivity"
            android:label="@string/title_activity_cadastrar_exercicio"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.CadastrarTreinoActivity"
            android:label="@string/title_activity_cadastrar_treino"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.CriarFichaActivity"
            android:label="@string/title_activity_criar_ficha"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.VisualizarEstatisticasActivity"
            android:label="@string/title_activity_visualizar_estatisticas"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.CadastrarAlunoActivity"
            android:label="@string/title_activity_cadastrar_aluno"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.GerenciarFinancasActivity"
            android:label="@string/title_activity_gerenciar_financas"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.AgendarAcompanhamentoActivity"
            android:label="@string/title_activity_agendar_acompanhamento"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.CriarExercicioMaquinaGMuscularActivity"
            android:label="@string/title_activity_criar_exercicio_maquina_gmuscular_bd"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.HistoricoAgendamentoActivity"
            android:label="@string/title_activity_historico_agendamento"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.agendamento.AlarmDetails"
            android:label="Details of the alarm"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="br.edu.ufcg.agendamento.AlarmDetails" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="br.edu.ufcg.agendamento.DisplayNotification" >
            <intent-filter>
                <action android:name="br.edu.ufcg.agendamento.DisplayNotification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.GenciarTreinoSemanal"
            android:label="@string/title_activity_genciar_treino_semanal"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.AcompanhamentoVisualActivity"
            android:label="@string/title_activity_acompanhamento_visual"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.GerenciadorTreinoDiarioActivity"
            android:label="@string/title_activity_gerenciador_treino_diario"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.AnamneseActivity"
            android:label="@string/title_activity_anamnese"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.AvaliacaoTabsActivity"
            android:label="@string/title_activity_avaliacao_tabs"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.MetasActivity"
            android:label="@string/title_activity_metas" >
        </activity>
        <activity
            android:name="br.edu.ufcg.fitnessmanagement.HistoricoTabsActivity"
            android:label="@string/title_activity_historico_tabs" 
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>